<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <div class="container-fluid">
    <i class="fa-solid fa-paintbrush"></i>
    <a class="navbar-brand">Art'Online</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <!--Artisan-->
        <ng-template [ngIf]="isArtisan()">
          <li class="nav-item">
            <a class="nav-link" href="/artisan/products">Mes articles</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="/artisan/rates">Mes notes</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="/artisan/invoice-items">Mes commandes</a>
          </li>      
          <li class="nav-item"> 
            <a class="nav-link" href="/artisan/financial-report">Mes rapport financiers</a>
          </li>
        </ng-template>

        <!--Customer-->
        <ng-template [ngIf]="isCustomer()">
          <li class="nav-item">
            <a class="nav-link" href="/customer/products">Boutique en ligne</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="customer/invoices">Mes commandes</a>
          </li>
        </ng-template>
        
        <!--Admin-->
        <ng-template [ngIf]="isAdmin()">
          <li class="nav-item"> 
            <a class="nav-link" href="admin/users">Utilisateurs</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="admin/invoice-items">Commandes</a>
          </li>

        </ng-template>
      </ul>

      <!--Delivery partner-->
      <ng-template [ngIf]="isDeliveryPartner()">
        <li class="nav-item"> 
          <a class="nav-link" href="/delivery-partner/invoice-items">Mes livraisons</a>
        </li>
      </ng-template>
      
      <button *ngIf="showCart()" class="btn btn-outline-secondary ms-auto me-2" (click)="goToCart()">
        <i class="fas fa-shopping-cart"></i>
        Panier ({{ numberCart }})
      </button>
      <button class="btn btn-outline-secondary ms-auto me-2" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
        Déconnexion
      </button>
    </div>
  </div>
</nav>