<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Art'Online</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="showProducts()" class="nav-item">
          <a class="nav-link" href="/products">Articles en vente</a>
        </li>
        <li *ngIf="showUsers()" class="nav-item"> 
          <a class="nav-link" href="/users">Utilisateurs</a>
        </li>
        <li *ngIf="showInvoices()" class="nav-item"> 
          <a class="nav-link" href="/invoices">Mes commandes</a>
        </li>
        <li *ngIf="showInvoiceItems()" class="nav-item"> 
          <a class="nav-link" href="/invoice-items">Gestion des commandes</a>
        </li>
      </ul>
      <button *ngIf="showCart()" class="btn btn-outline-secondary ms-auto me-2" (click)="goToCart()">
        <i class="fas fa-shopping-cart"></i>
        Panier ({{ numberCart }})
      </button>
      <button class="btn btn-outline-secondary ms-auto me-2" (click)="logout()">
        Déconnexion
      </button>
    </div>
  </div>
</nav>