<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card shadow my-5">
            <form #productForm="ngForm" (ngSubmit)="saveProduct(productForm)">
                @if (productId) {
                    <h1 class="card-header text-center">Modifier un article</h1>
                }
                @else {
                    <h1 class="card-header text-center">Ajouter un article</h1>
                }
                <div class="card-body">
                    <div>
                        <b><label for="name" class="form-label">Nom de l'article<span class="text-danger">*</span></label></b>
                        <input
                        [(ngModel)]="product.name"
                        type="text"
                        id="name"
                        class="form-control"
                        name="name"
                        #nameInput="ngModel"
                        required
                        />
                    </div>
                    <div>
                        @if(nameInput.invalid && nameInput.touched) {
                            <small class="form-text text-danger">Le nom de l'article est obligatoire</small>
                        }
                    </div>
                    <br />
                    <div>
                        <b><label for="description" class="form-label">Description de l'article</label></b>
                        <textarea
                        [(ngModel)]="product.description"
                        type="text"
                        id="description"
                        class="form-control"
                        name="description"
                        >
                        </textarea>
                    </div>
                    <br />
                    <div>
                        <b><label for="price" class="form-label">Prix de l'article<span class="text-danger">*</span></label></b>
                        <input
                        [(ngModel)]="product.price"
                        type="number"
                        id="price"
                        class="form-control"
                        name="price"
                        required
                        #priceInput="ngModel"
                        />
                    </div>
                    <div>
                        @if(priceInput.invalid && priceInput.touched) {
                            <small class="form-text text-danger">Le prix de l'article est obligatoire</small>
                        }
                    </div>
                    <br />
                    <div>
                        <b><label for="image" class="form-label">Photo de l'article</label></b>
                        <input
                            type="file"
                            id="image"
                            class="form-control"
                            (change)="onFileSelected($event)"
                        />
                    </div>
                    <br />
                    <div>
                        <b><label for="category" class="form-label">Catégorie<span class="text-danger">*</span></label></b>
                        <div class="row">
                            <div class="col-md-6">
                                <select
                                    [(ngModel)]="product.category"
                                    id="category"
                                    class="form-select"
                                    name="category"
                                    required
                                    #categoryInput="ngModel"
                                >
                                    <option *ngFor="let category of categories" [value]="category">
                                        {{ category }}
                                    </option>
                                </select>
                            </div>
                    
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input
                                        [(ngModel)]="newCategory"
                                        [ngModelOptions]="{standalone: true}"
                                        type="text"
                                        id="newCategory"
                                        class="form-control"
                                        placeholder="Nouvelle catégorie"
                                    />
                                    <button
                                        type="button"
                                        class="btn btn-outline-primary"
                                        (click)="addCategory()"
                                    >
                                        Ajouter
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div>
                            @if(categoryInput.invalid && categoryInput.touched) {
                                <small class="form-text text-danger">La catégorie est obligatoire</small>
                            }
                        </div>
                    </div>
                    <br />
                    <div *ngIf="product.image">
                        <b><p>Photo :</p></b>
                        <img
                            [src]="apiUrlImage + product.image"
                            alt="Image de l'article"
                            class="img-thumbnail"
                            style="max-width: 200px;"
                        />
                    </div>
                    <br />
                    <div class="mb-3">
                        <b><p>Publié :</p></b>
                        <input
                            type="checkbox"
                            [(ngModel)]="product.available"
                            id="available"
                            class="form-check-input"
                            name="available"
                        />
                    </div>   
                </div>
                
                <div class="card-footer d-flex justify-content-between">
                    <button (click)="redirectToProducts()" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i>
                        Retour
                    </button>
                    <button 
                        type="submit" 
                        class="btn btn-primary"
                        [disabled]="productForm.invalid"
                    >
                        Enregistrer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>