<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Bénéfice</th>
        </tr>
    </thead>
    <tbody>
        @for (invoiceItem of invoiceItems; track invoiceItem.id; let i = $index) {
            <tr>
                <th>{{ i + 1 }}</th>
                <td>{{ invoiceItem.productName }}</td>
                <td>{{ invoiceItem.quantity }}</td>
            </tr>
        }
    </tbody>
</table>