<div class="row justify-content-center">
    <h1>Table des produits</h1>
    <div class="text-end">
        <button class="btn btn-success"  
            [routerLink]="['/products/edit']"
        >Ajouter un produit</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
            </tr>
        </thead>
        <tbody>
            @for (product of products; track product.id; let i = $index) {
                <tr>
                    <th scope="row">{{ i + 1 }}</th>
                    <td >
                        <img
                           *ngIf="product.image"
                            [src]="'data:image/jpeg;base64,' + product.image"
                            class="me-2"
                            style="width: 20px"
                        />
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }} €</td>
                    <td class="text-end">
                        <button class="btn btn-primary me-2" 
                            [routerLink]="['/products/view', product.id]"
                        >
                            Voir
                        </button>
                        <button class="btn btn-warning me-2" 
                            [routerLink]="['/products/edit', product.id]"
                        >
                            Modifier
                        </button>
                        <button class="btn btn-danger">Supprimer</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>