<div class="row justify-content-center">
    <p-toast />
    <h1>Utilisateurs</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col" class="text-end"></th>
           
            </tr>
        </thead>
        <tbody>
            @for (user of users; track user.id; let i = $index) {
                <tr>
                    <th scope="row">{{ i + 1 }}</th>
                    <td >
                        {{ user.email }}
                    </td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td class="text-end">
                        <button 
                            class="btn btn-outline-danger"
                            (click)="deleteUser(user.id)"
                        >
                            Supprimer
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>